<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Flood directory</title>

    <!-- Bootstrap -->
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body style="background-color:lightgray;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" href="#">
  <img src="https://images.squarespace-cdn.com/content/v1/575a6067b654f9b902f452f4/1552683653140-0UUVQSSUEWVC73AWAEQG/ke17ZwdGBToddI8pDm48kP06O0_IHyRXSOOiqwgWaApZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEsL0EX72Q6S7TgfQYQBQpkz5xM6Qt8VXd_xJGg_ziCFib8BodarTVrzIWCp72ioWw/300Logo.png?format=500w">
        </a>
           
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="map.html">Map</a></li>
            <li><a href="prepare.html">Being Prepared</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
          <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img data-src="holder.js/1140x500/auto/#777:#555/text:First slide" alt="First slide [1140x500]" src="https://blogs.cdc.gov/publichealthmatters/files/2014/03/Flood-banner-1024x307.jpg" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#666:#444/text:Second slide" alt="Second slide [1140x500]" src="https://www.cdc.gov/disasters/floods/images/floodBanner_935x235.jpg" data-holder-rendered="true">
          </div>
          <div class="item">
            <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" alt="Third slide [1140x500]" src="https://s.wsj.net/public/resources/images/BN-UV132_2V51I_M_20170825105455.jpg" data-holder-rendered="true">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
     <div class="head"><p>Why is Houston prone to flooding?</p></div>
     <hr>
      <div class="head"><p><u>Urban sprawl</u></p></div>
      <div class="paragraph1"><p>Houston's unbridled, rapid growth is a primary factor.
The population of its metropolitan area is close to 6.8 million people and, with predictions of some of the country's fastest growth for the coming years, it is expected to top 10 million by 2040.
<br>
Growth itself is not a problem, as it can create economic, social and environmental benefits for cities.

But poorly planned growth which fails to carefully manage land use - for housing, businesses and the infrastructure like roads, parks and sewers that cities need - can create problems and even lead to disasters.
</p></div>
<img src="https://marketurbanism.com/wp-content/uploads/2008/12/houston-sprawl-4.jpg" alt="urban" class="images1">
<hr>
<div class="head"><p><u>Loss of habitat</u></p></div>
      <div class="paragraph1"><p>This unplanned growth has led to many problems.

One is that vast acres of wetlands and prairie land - which soak up large amounts of rainfall - have been paved over.

Between 1992 and 2010, for example, White Oak Bayou in north-west Houston lost about 70% of its original wetlands.
<br>
During heavy rain the city's growing expanses of concrete generate runoff that clogs and sometimes overwhelms its complex network of waterways. This includes creeks and bayous, as well as flood controls like levees and detention basins.

Successful wetland and prairie land protection would not itself have a major effect in reducing flooding caused by unprecedented rainfall like that delivered by Harvey.
<br>
Yet, protecting and restoring the natural areas provides an important contribution to making Houston less vulnerable to more moderate storms.

They also bring environmental benefits - providing fish and wildlife habitats, and cleaning polluted runoff that can sometimes enter from the city.
</p></div>
<img src="https://agrilife.org/urbannature/files/2015/03/WetlandLossLandingPagePhoto.jpg" alt="urban" class="images1">
<hr>
<div class="head"><p><u>Our map of Houston</p></u></div>
     <hr>
      <div class="paragraph1"><p>We have collected data from actual Houston residents regarding their experience with Houston floods. This data is used to mark locations on the map of Houston where there are more flood prone areas. Our app can be helpful for many people especially those that are searching for a new place to live.<br><br>
      When looking for an area to buy a house in, it might be a priority to see if it has the potential to flood in the future. This app can give guidance to those people.
</p></div>
<img src="https://s.hdnux.com/photos/72/63/36/15415212/6/rawImage.jpg" alt="urban" class="images1">
<hr>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
  
</body></html>

