<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Flood directory</title>

	<!-- Bootstrap -->
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous">
  
  <!--- scripts --->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id= "logo" href="#">
          <img src="https://images.squarespace-cdn.com/content/v1/575a6067b654f9b902f452f4/1552683653140-0UUVQSSUEWVC73AWAEQG/ke17ZwdGBToddI8pDm48kP06O0_IHyRXSOOiqwgWaApZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVEsL0EX72Q6S7TgfQYQBQpkz5xM6Qt8VXd_xJGg_ziCFib8BodarTVrzIWCp72ioWw/300Logo.png?format=500w" />
          </a>
           
      </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="homes.html">Home</a></li>
            <li><a href="maps.html">Map</a></li>
            <li class = "active"><a href="prepareds.html">Being Prepared</a></li>
            <li><a href="test.html">test</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!--- code starts here for body of page--->
<div class = "prepared-top-segment" style="top:150px">
  <center><h2>"By failing to prepare, you are preparing to fail." </h2></center>
  <center><h4>"- Benjamin Franklin"</h4></center>
</div>
<!--- Info Cards --->

<div class="container">
  
  <!--- <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
  <p>Click on the images to enlarge them.</p> --->
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bangkokpost.com%2Fworld%2F1972727%2Ffloods-test-limits-of-three-gorges-dam&psig=AOvVaw1Lewrw7HdLEwGLVENPZade&ust=1603866519703000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDe1s6S1OwCFQAAAAAdAAAAABAE">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Lights" style="width:100%">
        </a>  
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.bangkokpost.com%2Fworld%2F1972727%2Ffloods-test-limits-of-three-gorges-dam&psig=AOvVaw1Lewrw7HdLEwGLVENPZade&ust=1603866519703000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDe1s6S1OwCFQAAAAAdAAAAABAE">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="https://static.bangkokpost.com/media/content/20200822/c1_1972727.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </a>
      </div>
    </div>
</div>





</body>
</html>